<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />
    <title><%= title %></title>
    <% if (typeof(css) !== "undefined") { %>
    	<% css.forEach(function(c) { %>
   			<%- cssHref(c) %>
   		<% }) %>
    <% } %>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="/script/1.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    	myApp.value('currentPage', '<%= current%>');
    </script>
   	<% if (typeof(scripts) !== 'undefined') { %>
   		<% scripts.forEach(function(s) { %>
   			<%- scriptSrc(s) %>
   		<% }) %>
   	<% } %>    	
  </head>
  <body ng-app="myApp">
  	<div class="container">
  		<nav class="navigation" ng-controller="staticMenu" >
  			<ul>
  				<!--<li><a href="/">Main</a></li>
  				<li><a href="/users">Angular Js</a></li>
  				<li><a href="/sunflower" class="<%= current=='sunflower'? 'currentPage' : ''%>">太陽花學運</a></li>
  				-->
  				<li ng-repeat="menu in menus">
  					<a href="{{menu.href}}" ng-class="{currentPage: currentPage == menu.name}"> {{menu.text}}</a>
  				</li>
  				<li>{{menuCtrl.currentPage}}</li>
  				
  			</ul>  			
  		</nav>
  		<div class="mainBody">
  			<%- mainBody %>
  		</div>
  	</div>
  </body>
</html>